{% extends "layout.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<form class="dt-form col-md-8 form-horizontal" method="post" role="form">
	{% include "csrf.html" %}

	<div class="form-group">
		<label class="col-sm-4 control-label" for="login">Username or email</label>
		<div class="col-sm-8 input-group">
			<input type="text" class="form-control" name="login" id="login" value="{{ flash.login }}" autofocus required>
			<span class="input-group-addon"><i class="fa fa-user"></i> <i class="fa fa-envelope"></i></span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="password">Password</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="password" class="form-control" name="password" id="password" required>
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
			</div>
		</div>
	</div>

	<!--<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="remember"> Keep me logged in
				</label>
			</div>
		</div>
	</div>-->

	<div class="form-group form-controls">
		<div class="col-sm-offset-4 col-sm-8">
			<button class="btn btn-primary">Login</button>
			<a href="/login/reset" class="btn btn-link">Forgot password?</a>
		</div>
	</div>
</form>
{% endblock %}
