{% extends "layout.html" %}
{% block title %} Reset Password {% endblock %}

{% block content %}
<form class="dt-form col-md-8 form-horizontal" method="post" role="form">
	{% include "csrf.html" %}

	<div class="form-group">
		<label class="col-sm-4 control-label" for="login">Username or email</label>
		<div class="col-sm-8 input-group">
			<input type="text" class="form-control" name="login" id="login" value="{{ flash.login }}" autofocus required>
			<span class="input-group-addon"><i class="fa fa-user"></i> <i class="fa fa-envelope"></i></span>
		</div>
	</div>

	<div class="form-group form-controls">
		<div class="col-sm-offset-4 col-sm-8">
			<button class="btn btn-primary">Send Reset</button>
		</div>
	</div>
</form>
{% endblock %}
