{% extends "admin/layout.html" %}
{% block admintitle %} Dashboard {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h5>Search</h5>
		<form action="/admin/search" class="form-inline col-sm-12 row">
			<div class="input-group">
				<input class="form-control" type="search" name="query" value="{{ query }}">
				<span class="input-group-btn">
					<button class="btn">Search</button>
				</span>
			</div>
		</form>
	</div>

	<div class="col-sm-2">
		<h5>Total Users</h5>
		{{ total_users }}
	</div>

	<div class="col-sm-2">
		<h5>Failed Logins</h5>
		{{ failed_logins }}
	</div>

	<div class="col-sm-2">
		<h5>Invalid Panel Hits</h5>
		{{ invalid_panel_hits }}
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<h5>New Registrations <small><a href="/admin/search?order=desc">more</a></small></h5>
		{% for user in new_users %}
		<a href="/admin/user/{{ user.id }}" class="col-sm-12">{{ user.login }} <small class="pull-right">{{ user.registered|date('m/d H:i') }}</small></a>
		{% endfor %}
	</div>

	<div class="col-sm-3">
		<h5>Admin Activity{# <small><a href="/admin/activity">more</a></small>#}</h5>
		{% for action in admin_activity %}
		{{ action.type }} <a href="/admin/user/{{ action.admin }}">{{ action.admin_login }}</a> <small class="pull-right">{{ action.timestamp|date('m/d H:i') }}</small>
		{% endfor %}
	</div>
</div>

{% endblock %}
