{% extends 'layout.html' %}
{% block title %} Account - Edit {% endblock %}

{% block alert %}

{% if flash['success.email'] %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Email address changed to <em>{{ user.get('email') }}</em>
</div>
{% endif %}

{{ parent() }}

{% if flash['success.password'] %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Password changed
</div>
{% endif %}

{% endblock %}

{% block content %}

<form class="dt-form col-md-8 form-horizontal" method="post" role="form">
	{% include "csrf.html" %}

	<div class="form-group {% if flash['error.current-password'] %}error{% endif %}">
		<label class="col-sm-4 control-label" for="current-password">Current password</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="password" class="form-control" name="current-password" id="current-password" autocomplete="off">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
			</div>
			<span class="help-block">
				Enter your current password to make changes<br>

				{% if flash['error.current-password'] %}
					{% set type = flash['error.current-password'] %}
					{% if type == 'required' %}Current password required to make changes{% endif %}
					{% if type == 'incorrect' %}Invalid password{% endif %}
					<br>
					<small>if you're having trouble, try <a href="/login/reset">resetting your password</a></small>
				{% endif %}
			</span>
		</div>
	</div>

	<fieldset id="change-password">
		<legend>Change password</legend>
		<div class="form-group {% if flash['error.password'] %}error{% endif %}">
			<label class="col-sm-4 control-label" for="password">New password</label>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="password" class="form-control" name="password" id="password" autocomplete="off">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
				</div>
				{% if flash['error.password'] %}
					<span class="help-block">
						{% set type = flash['error.password'] %}
						{% if type == 'regexp' %}Password must be at least 6 characters long{% endif %}
					</span>
				{% endif %}
			</div>
		</div>

		<div class="form-group {% if flash['error.confirm-password'] %}error{% endif %}">
			<label class="col-sm-4 control-label" for="confirm-password">Confirm password</label>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="password" class="form-control" name="confirm-password" id="confirm-password" autocomplete="off">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
				</div>
				{% if flash['error.confirm-password'] %}
					<span class="help-block">
						{% set type = flash['error.confirm-password'] %}
						{% if type == 'match' %}Passwords do not match{% endif %}
					</span>
				{% endif %}
			</div>
		</div>
	</fieldset>

	<fieldset id="update-email">
		<legend>Email</legend>
		<div class="form-group {% if flash['error.email'] %}error{% endif %}">
			<label class="col-sm-4 control-label" for="email">Email address</label>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="email" class="form-control" name="email" id="email" value="{{ user.get('email') }}" required autocomplete="off">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				</div>
				{% if flash['error.email'] %}
					<span class="help-block">
						{% set type = flash['error.email'] %}
						{% if type == 'exists' %}Email address in use{% endif %}
						{% if type == 'required' %}Email address required{% endif %}
						{% if type == 'regexp' %}Invalid email address{% endif %}
					</span>
				{% endif %}
			</div>
		</div>

		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="mailing-list"{% if flash['mailing-list'] %} checked{% endif %}> Receive email updates from {{ brand }}
				</label>
			</div>
		</div>
	</fieldset>

	<div class="form-group form-controls">
		<button class="btn btn-primary">Save changes</button>
		<a href="/account" class="btn">Cancel</a>
	</div>
</form>

{% endblock %}
