{% extends 'layout.html' %}
{% block title %} Account {% endblock %}

{% block alert %}

{% if flash['success.email'] %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Email address changed to <em>{{ user.get('email') }}</em>
</div>
{% endif %}

{{ parent() }}

{% if flash['success.password'] %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Password changed
</div>
{% endif %}

{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-9">
	<fieldset>
		<legend>Your Account <small><a href="/account/edit">Edit</a></small> <small class="pull-right"><i class="fa fa-calendar"></i> {{ user.get('registered')|date('m/d/Y') }}</small></legend>

		{% if user.get('first_name') or user.get('last_name') %}<div>Name: {{ user.get('first_name') }} {{ user.get('last_name') }}</div>{% endif %}
		<div class="text-large">Username: {{ user.get('login') }}</div>
		<div class="text-large">Password: <small><i class="fa fa-asterisk"></i><i class="fa fa-asterisk"></i><i class="fa fa-asterisk"></i> <a href="/account/edit#change-password">Edit</a></small></div>
		<div class="text-large">Email: {{ user.get('email') }} <i {% if user.get('email_confirmed') %}class="fa fa-check text-success" title="Email confirmed"{% else %}class="fa fa-times text-error" title="Please confirm your email"{% endif %}></i></div>
		<div class="text-large">Email Confirmed: {% if user.get('email_confirmed') %}Yes{% else %}No{% endif %}</div>
		<div class="text-large">Receiving Email Updates: {% if user.get('mailing_list') %}Yes{% else %}No{% endif %}</div>
	</fieldset>

	{% if stripePubKey %}
	<fieldset>
		<legend>Billing</legend>
		{% if not user.get('stripe_id') %}
		<p class="text-center muted">No credit card on file.<br><a href="/account/card">Add a credit card</a></p>
		{% endif %}
	</fieldset>
	{% endif %}
</div>

<fieldset class="col-sm-3 profile-image">
	<legend>Gravatar</legend>
	<div>
		<img src="{{ user.getGravatar(220, '', true) }}">
		<a href="//gravatar.com/emails" target="_blank">Change at gravatar.com <i class="fa fa-external-link"></i></a>
		{% if not user.get('gravatar') %}<p class="text-error">Gravatar will not be shown<br>(contact an admin)</p>{% endif %}
	</div>
</fieldset>
</div>

{% endblock %}
