{% extends "layout.html" %}
{% block subject %} Welcome to {{ brand }}! {% endblock %}

{% block body %}
{% filter nl2br %}
Hello {{ user.get('login') }}!

Thanks for creating your <a href="http://{{ domain }}">{{ brand }}</a> account!

You can confirm your email address at the following location:
<a href="http://{{ domain }}/account/confirm?token={{ token }}">http://{{ domain }}/account/confirm?token={{ token }}</a>

If you did not register for a {{ brand }} account, please ignore this message.
{% endfilter %}
{% endblock %}
