{# vim: set ft=htmldjango : #}
{% if admin and admin.get('id') != user.get('id') %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<b>Heads up!</b>  You're seeing the site (mostly) as <em>{{ user.get('login') }}</em> would see it.
		<form method="post" action="/logout" class="form-inline"> {% include "csrf.html" %} <button class="btn btn-link btn-inline-link">Logging out</button></form> will return you to admin mode
	</div>
{% endif %}

{% if flash['notice.admin-logout'] %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		You have now returned to admin mode.
		Please <form method="post" action="/logout" class="form-inline"> {% include "csrf.html" %} <button class="btn btn-link btn-inline-link">log out again</button></form> if you wish to fully log out
	</div>
{% endif %}

{% for type in ['error', 'block', 'success', 'info', 'warning', 'danger'] %}
	{% if flash[type] %}
	<div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ flash[type] }}
	</div>
	{% endif %}
{% endfor %}

{% if stripePubKey and user and not user.hasRole('paid') and not user.hasRole('p_free') and not user.hasRole('c_linked') %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<b>Your account has been limited</b> until you <a href="/account/card">link a valid credit card</a> with your account.
	</div>
{% endif %}

{% if user and not user.get('email_confirmed') %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<b>Your account has been limited</b> until you confirm your email address <em>{{ user.get('email') }}</em><br>
		If you have not received an email from us, try
		<a href="/account#update-email">changing your email address</a>,
		or <a href="/account/resend-confirmation">attempt resending the email</a>
	</div>
{% endif %}

{% if user and user.get('temporary_password') %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<b>You are using a temporary password</b> we recommend you <a href="/account#change-password">change your password</a>
	</div>
{% endif %}
