{% extends "html5.html" %}

{% block class %}dt-site{% if _mode == 'development' %} dt-dev{% endif %}{% endblock %}

{% block body %}
<div class="container">
	<nav class="navbar navbar-default" role="navagation">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#dt-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			{% block brand %}
			<a class="navbar-brand" href="/">{{ brand }}</a>
			{% endblock %}
		</div>

		<div class="collapse navbar-collapse" id="dt-navbar">
			{% if admin %}
			<ul class="nav navbar-nav">
				<li{% if _path[0] == 'admin' %} class="active"{% endif %}><a href="/admin">Admin</a></li>
			</ul>
			{% endif %}

			{% if forums %}
			<ul class="nav navbar-nav">
				<li{% if _path[0] == 'forum' %} class="active"{% endif %}><a href="/forum">Forum</a></li>
			</ul>
			{% endif %}

			<ul class="nav navbar-nav navbar-right">
				{% if user %}
					<li{% if _path[0] == 'account' %} class="active"{% endif %}><a href="/account" title="My Account">{{ user.get('login') }}</a></li>
					<li><form method="post" action="/logout" class="navbar-form">{% include "csrf.html" %}<button class="btn btn-nav btn-link">Logout</button></form></li>
				{% else %}
					{% if auth.registration and auth.showRegisterLink %}
					<li{% if _path == ['register'] %} class="active"{% endif %}><a href="/register">Register</a></li>
					{% endif %}

					{% if auth.login and auth.showLoginLink %}
					<li{% if _path == ['login'] %} class="active"{% endif %}><a href="/login">Login</a></li>
					{% endif %}
				{% endif %}
			</ul>

			{% block nav %}{% endblock %}
		</div>
	</nav>

	<div id="content">
		{% block alert %}
			{% include "alerts.html" %}
		{% endblock %}

		{% block precontent %}{% endblock %}
		{% block content %}{% endblock %}
	</div>

	<footer class="footer">
		{% include "footer.html" %}

		{% block footer %}{% endblock %}

		<div class="copyright">
			Copyright &copy; {% if copyright.year and copyright.year < 'now'|date('Y') %}{{ copyright.year }} - {% endif %}{{ 'now'|date('Y') }}
			{% if copyright.link %}<a href="{{ copyright.link }}">{% endif -%}
			{%- if not copyright.holder %}{{ brand }}{% else %}{{ copyright.holder }}{% endif -%}
			{%- if copyright.link %}</a>{% endif %},
			All Rights Reserved.

			{% if git -%}
				<div class="pull-right dropup">
					<span class="dt-cmid" data-toggle="dropdown">
						{{ git[0][0] }}-{{ git[0][2]|date('nd-Gi') }}
					</span>
					<ul class="dropdown-menu">
						{% for commit in git %}
							<li><a>{{ commit[0] }}-{{ commit[2]|date('nd-Gi') }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{%- endif %}
		</div>
	</footer>
</div>
{% endblock %}
