{% extends "forum/layout.html" %}
{% import "forum/pagination.html" as pagination %}

{% block title -%}
{{ parent() }} - 
{% if forum.title -%}
	{{ forum.title }}
{%- else -%}
	Home
{%- endif -%}
{%- endblock %}

{% block content %}
<ul class="media-list media-list-home">
	{% for parent in categories %}
	{% if parent.parent == category %}
	<li class="media">
		{#<a class="pull-left" href="#">
			<img class="media-object" src="http://placehold.it/64x64">
		</a>#}
		<div class="media-body">
			<h4 class="media-heading"><a href="/forum/{{ parent.id }}">{{ parent.title }}</a>
				{%- if parent.readonly %} <i class="fa fa-lock text-danger"></i>{% endif -%}
				{%- if parent.hidden %} <i class="fa fa-eye-slash"></i>{% endif -%}
			</h4>
			{{ parent.description }}

			<ul class="list-unstyled">
			{% for child in categories %}
				{% if child.parent == parent.id %}
					<li><a href="/forum/{{ child.id }}">{{ child.title }}
						{%- if child.hidden %} <i class="fa fa-eye-slash"></i>{% endif -%}
					</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>

{% if category == 0 %}
<h4>Last 25 posts by thread</h4>
{% elseif (not forum.readonly or user.hasRole('forum mod')) and user.get('email_confirmed') %}
<div class="row-fluid">
	<div class="btn-group">
		<a href="/forum/{{ category }}/thread/new" class="btn">New Thread</a>
	</div>
</div>
{% endif %}

{% if category != 0 %}
	{{ pagination.pagination('/forum/%d'|format(category), pages, page) }}
{% endif %}

<table class="table table-striped table-condensed dt-threadlist">
	<thead>
		<tr>
			<th class="icons"><i class="fa fa-tags"></i></th>
			{% if category == 0 %}<th class="forum">Forum</th>{% endif %}
			<th class="thread">Thread</th>
			<th class="author">Author</th>
			<th class="replies"><i title="Replies" class="fa fa-comment"></i></th>
			<th class="last-message">Last By</th>
		</tr>
	</thead>

	<tbody>
	{% for thread in threads %}
		{% if thread.id %}
		<tr>
			<td>
				{%- if thread.locked %}<i class="fa fa-lock"></i>{% endif -%}
				{%- if thread.hidden %}<i class="fa fa-eye-slash"></i>{% endif -%}
				{%- if thread.deleted %}<i class="fa fa-trash text-danger"></i>{% endif -%}
				{%- if thread.sticky -%}
					<i class="fa fa-star text-warning"></i>
				{%- else -%}
					<i class="fa fa-comment"></i>
				{%- endif -%}
			</td>

			{% if category == 0 -%}
			<td><a href="/forum/{{ thread.category }}">{{ categories[thread.category].title }}
				{%- if categories[thread.category].hidden %} <i class="fa fa-eye-slash"></i>{% endif -%}
			</a></td>
			{%- endif %}
			<td><a href="/forum/{{ thread.category }}/{{ thread.id }}">{{ thread.title }}</a></td>
			<td>{{ thread.author }}</td>
			<td>{{ thread.replies }}</td>
			<td>{{ thread.last_author }}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>

{% if category != 0 %}
	{{ pagination.pagination('/forum/%d'|format(category), pages, page) }}
{% endif %}
{% endblock %}
