{% extends "forum/layout.html" %}

{% block breadcrumb %}
<li><a href="/forum/{{ category }}/{{ thread.id }}">{{ thread.title }}</a></li>
{{ parent() }}
{% endblock %}

{% block content %}
{% if editmode == 'thread' %}
	{% set with_title_input = true %}
{% endif %}
{% include "forum/thread/form.html" %}
{% endblock %}
