<form method="post" id="reply-form">
	{% include "csrf.html" %}

	{% if flash['post.preview'] %}
		<label>Preview</label>
		<input type="hidden" name="post-previewed" value="true">
		<div class="dt-forum-preview active well well-small">
			{{ flash['post.preview']|e|markdown|raw }}
		</div>
	{% endif %}

	{% if with_title_input %}
	<div class="form-group">
		<input name="title" class="form-control" type="text" placeholder="Title" value="{{ flash['post.title'] }}">
	</div>
	{% endif %}

	{% if not quick_reply and false %}
	<div class="row" style="margin-bottom: 10px">
		<div class="btn-group">
			<button class="btn" type="button"><i class="fa fa-bold"></i></button>
			<button class="btn" type="button"><i class="fa fa-italic"></i></button>
		</div>
	</div>
	{% endif %}

	<div class="form-group">
		<textarea name="message" class="form-control" rows="10" placeholder="Message">{{ flash['post.message'] }}</textarea>
	</div>

	<div class="form-group form-controls text-right">
		<button class="btn" name="preview-post" value="true">Preview</button>
		<button class="btn btn-primary">Post</button>
	</div>
</form>
