{% extends "forum/layout.html" %}

{% block breadcrumb %}
<li><a href="/forum/{{ category }}/thread/new">New Thread</a></li>
{{ parent() }}
{% endblock %}

{% block content %}
{% set with_title_input = true %}
{% include "forum/thread/form.html" %}
{% endblock %}
