{% extends "forum/layout.html" %}
{% import "forum/pagination.html" as pagination %}

{% block breadcrumb %}
<li><a href="/forum/{{ category }}/{{ thread.id }}">{{ thread.title }}</a></li>
{{ parent() }}
{% endblock %}

{% block content %}
<section>
<div class="row-fluid">
	<h1 class="thread-title">{{ thread.title }}</h1>

	<div class="pull-right thread-controls">
		<div class="btn-group">
		{% if user and (not thread.locked or user.hasRole('forum mod') or user.hasRole('staff')) and user.get('email_confirmed') %}
			<a href="#reply-form" class="btn btn-default"><i title="Reply" class="fa fa-reply"></i></a>
		{% endif %}

		{% if user.get('id') == thread.author or user.hasRole('forum mod') %}
			<a href="/forum/{{ category }}/{{ thread.id }}/edit" class="btn btn-default"><i title="Edit" class="fa fa-pencil"></i></a>
		{% endif %}
		</div>

		<div class="btn-group">
		{% if user.hasRole('forum mod') %}
			{% if not thread.locked %}
				<a href="/forum/{{ category }}/{{ thread.id }}/lock" class="btn btn-default"><i title="Lock" class="fa fa-lock"></i></a>
			{% else %}
				<a href="/forum/{{ category }}/{{ thread.id }}/unlock" class="btn btn-default active"><i title="Unlock" class="fa fa-lock"></i></a>
			{% endif %}

			{% if not thread.sticky %}
				<a href="/forum/{{ category }}/{{ thread.id }}/stick" class="btn btn-default"><i title="Sticky" class="fa fa-star-o"></i></a>
			{% else %}
				<a href="/forum/{{ category }}/{{ thread.id }}/unstick" class="btn btn-default active"><i title="Unsticky" class="fa fa-star"></i></a>
			{% endif %}

			{% if not thread.hidden %}
				<a href="/forum/{{ category }}/{{ thread.id }}/hide" class="btn btn-default"><i title="Hide" class="fa fa-eye"></i></a>
			{% else %}
				<a href="/forum/{{ category }}/{{ thread.id }}/unhide" class="btn btn-default active"><i title="Unhide" class="fa fa-eye-slash"></i></a>
			{% endif %}

			{% if not thread.deleted %}
				<a href="/forum/{{ category }}/{{ thread.id }}/delete" class="btn btn-danger"><i title="Delete" class="fa fa-trash-o"></i></a>
			{% elseif user.hasRole('forum admin') %}
				<a href="/forum/{{ category }}/{{ thread.id }}/undelete" class="btn active btn-success"><i title="Undelete" class="fa fa-trash-o"></i></a>
			{% endif %}
		{% endif %}
		</div>
	</div>
</div>

{{ pagination.pagination('/forum/%d/%d'|format(category, thread.id), pages, page) }}
{% include "forum/thread/posts.html" %}
{{ pagination.pagination('/forum/%d/%d'|format(category, thread.id), pages, page) }}
</section>

{% if user and (not thread.locked or user.hasRole('forum mod') or user.hasRole('staff')) and user.get('email_confirmed') %}
	{% set quick_reply = true %}
	{% include "forum/thread/form.html" %}
{% endif %}
{% endblock %}
